.hero-section__content {
  background-image: url('../../img/herosection-bg.png');
  background-repeat: no-repeat;
  background-position: center top;

  text-align: center;

  width: 100%;
  height: 650px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h3,
  h4 {
    color: white;
  }
}

@media (max-width: 667px) {
  .hero-section__content {
    background-image: none;
    background-color: #fafafa;
    height: 778px;

    h1,
    h3,
    h4 {
      color: black;
    }
  }
}

