@import 'src/Styles/colors';

.hero-section__content {
  background-image: url('../../../../src/assets/img/herosection-bg.png');
  background-repeat: no-repeat;
  background-position: center top;

  text-align: center;


  width: 100%;
  padding: 66px 25px 140px 25px;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1,
  h3,
  h4 {
    color: white;
  }
}

@media (max-width: 667px) {
  .hero-section__content {
    background-image: none;
    background-color: $secondary-color;
    //padding-botton: 200px;
    //height: 778px;

    h1,
    h3,
    h4 {
      color: black;
    }
  }
}

