@import './src/components/Styles/colors';

.hero-section__actions {
  display: flex;
  flex-direction: row;
  margin-top: 54px;

  #appstore-button,
  #playstore-button {
    margin: 0 17px;
    z-index: 5;
  }

}

#appstore-button {
  background-color: transparent;
  border: 1px solid white;
}

@media (max-width: 667px) {
  .hero-section__actions {
    flex-direction: column;

    #appstore-button,
    #playstore-button {
      margin: 10px 0px;
    }

    #appstore-button {
      color: $main-color;
      border-color: $main-color;

    }
  }
}