.hero-section__image {
  width: 600px;
  margin: -240px 0 0 -150px;

  img {
    text-align: center;
    width: 100%;
  }
}


@media(max-width: 767px) {
  .hero-section__image {
    width: 550px;
    margin: -155px 0 0 -80px;
  }
}

@media(max-width: 667px) {
  .hero-section__image {
    width: 450px;
    margin-top: -250px;
  }
}
