@import 'src/Styles/mediaSizes';
@import 'src/Styles/colors';

.download-section__actions {
  display: flex;
  flex-direction: row;
  margin-top: 60px;

  #playstore-button,
  #appstore-button {
    border-radius: 10px;
    margin: 0 8px;
  }

  #playstore-button {
    padding: 18px 31px;
  }

  #appstore-button {
    padding: 16px 45px;
  }

  #appstore-button {
    background-color: transparent;
    border: 1px solid white;
  }

  #appstore-button:hover {
    background-color: $button-hover-color-transparent;
    border-color: #fff;
  }
  #playstore-button:hover {
    background-color: $button-hover-color;
    border-color: $button-hover-color;
  }
}

@media (max-width: $breakpoint-tablet) {
  .download-section__actions{
    #playstore-button,
    #appstore-button{
      font-size: 16px;
    }
  }
}
