@import 'src/Styles/mediaSizes';
@import 'src/Styles/colors';

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 223px;
  padding: 0 160px 0 186px;

  #onmind {
    display: none;
  }
}

@media(max-width: 1024px) {
  .footer {
    padding: 0 50px 0 60px;
  }
}

@media(max-width: $breakpoint-tablet) {
  .footer {
    flex-direction: column;
    justify-content: center;
    #logo,
    #copyright {
      display: none;
    }
    #onmind {
      display: block;
      text-align: center;
    }
  }
}

